:host{
    display: flex;
    justify-content: center;
    transform: translateY(50%);
}

mat-card{
    width: 50vw;
    height: 50vh;
}

.mat-form-field{
    width: 100%;
    min-width: 300px;
}

mat-card-title, mat-card-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 20vw;
    height: 20vw;
    object-fit: contain;
}

.button{
    /* background-color: aqua; */
    text-align: center;
}
button{
    width: 100%;
}