<mat-toolbar color="white" *ngIf="displaySidebar">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a (click)="signOutUser()">
      <fa-icon [icon]="appIcon.faRight"></fa-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav class="sidenav-title">
    <mat-nav-list>
      <div class="content-sidenav">
        <img src="{{ userModel?.urlImg }}" alt="" />
        <p>{{ userModel?.fullName }}</p>
      </div>
      <div *ngIf="displayTeacher">
        <a mat-list-item>
          <fa-icon [icon]="appIcon.faUser"></fa-icon> Thông tin cá nhân
        </a>
        <a mat-list-item>
          <fa-icon [icon]="appIcon.faCircleCheck"></fa-icon> Xác nhận yêu cầu
          sinh viên
        </a>
        <a mat-list-item>
          <fa-icon [icon]="appIcon.faFolder"></fa-icon> Danh sách sinh viên
        </a>
        <a mat-list-item>
          <fa-icon [icon]="appIcon.faFile"></fa-icon> Danh sách đồ án
        </a>
      </div>
      <div *ngIf="!displayTeacher && !displayStudent">
        <a mat-list-item>
          <fa-icon [icon]="appIcon.faCircleCheck"></fa-icon> Quản lý đồ án
        </a>
        <a mat-list-item [routerLink]="['/students-management']">
          <fa-icon [icon]="appIcon.faFolder"></fa-icon> Quản lý sinh viên
        </a>
        <a mat-list-item>
          <fa-icon [icon]="appIcon.faFile"></fa-icon> Quản lý giảng viên
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
